<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Trading Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+CO+Guides&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a><span class='logo'>&#8452;</span></a>
        <a href="{{ url_for('dashboard') }}" class='Dashboard'>Dashboard</a>
        <a href="{{ url_for('buy') }}" class='Dashboard'>Buy</a>
        <a href="{{ url_for('sell') }}" class='Dashboard'>Sell</a>
        <a href="{{ url_for('view_portfolio') }}" class='Dashboard'>Portfolio</a>
        <a href="{{ url_for('logout') }}" class='Dashboard'>Logout/Login</a>
        <a href="{{ url_for('transaction_history') }}" class='Dashboard'>History</a>
        <a href="{{ url_for('leaderboard') }}" class='Dashboard'>Leaderboard</a>
        <a href="{{ url_for('delete_account') }}">Delete Account</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
