{% extends "base.html" %}
{% block content %}
<h1>Buy Stocks</h1>
<div class="centered-form">
    <div class="form-container">
        <form method="POST">
            <label for="symbol" class="buy_title">Stock Symbol:</label>
            <input class='buy_input' type="text" id="symbol" name="symbol" style="border:2px solid rgb(255, 255, 255)" required >
            <label for="shares" class="buy_title">Shares:</label>
            <input class='buy_input' type="number" id="shares" name="shares" step="any" style="border:2px solid rgb(255, 255, 255)" required>
            <button type="submit">Buy</button>
        </form>
    </div>
</div>
{% endblock %}
