{% extends "base.html.jinja2" %}
{% block content %}
<style>
  .minimal-dashboard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 0 20px;
    background: url("{{ url_for('static', filename='Images/background-image.jpg') }}") no-repeat center center;
    background-size: cover;
    overflow: hidden;
  }

  .big-text {
    font-size: 12rem;
    padding-left: 4%;
    padding-bottom: 15%;
    font-weight: bold;
    color: {{ user.text_color if user else '#ffffff' }};
    max-width: 66%;
    overflow-wrap: break-word;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: {{ user.background_color if user else 'transparent' }};
  }
</style>
<div class="container minimal-dashboard">
  <h1 class="big-text accent">Stock Trading Made Free</h1>
</div>
{% endblock %}
