{% extends "base.html" %}
{% block content %}
<style>
  .minimal-dashboard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 0 20px;
    background: url("{{ url_for('static', filename='Images/background-image.jpg') }}") no-repeat center center;
    background-size: cover;
    overflow: hidden; /* Prevent scrolling */
  }

  .big-text {
    font-size: 12rem;
    padding-left: 4%;
    padding-bottom: 15%;
    font-weight: bold;
    color: #ffffff; /* White color for better contrast against the background image */
    max-width: 66%; /* Ensure text doesn't overflow past the center */
    overflow-wrap: break-word;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Disable scrolling */
  }
</style>
<div class="container minimal-dashboard">
  <h1 class="big-text">Stock Trading Made Free</h1>
</div>
{% endblock %}
