{% extends "base.html.jinja2" %}

{% block content %}
<h1 class="accent leaderboard-heading">Leaderboard</h1>
<div class="container-centered container-shadow">
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th class="leaderboard-thead-th">Rank</th>
                <th class="leaderboard-thead-th">Username</th>
                <th class="leaderboard-thead-th">Account Value</th>
            </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr class="leaderboard-tr">
                <td class="leaderboard-tbody-td">{{ loop.index }}</td>
                <td class="leaderboard-tbody-td">
                    <a href="{{ url_for('view_portfolio', user_id=user['id']) }}">{{ user['username'] }}</a>
                </td>
                <td class="leaderboard-tbody-td">${{ user.account_value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
