{% extends "base.html.jinja2" %}

{% block content %}
<div class="container-centered container-shadow">
    <h1 class="Ptitle accent">{{ user.username }}'s Portfolio</h1>
    <p class="user_balance">Account balance: ${{ user.balance }}</p>
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>Asset Symbol</th>
                <th>Asset Type</th>
                <th>Quantity</th>
                <th>Purchase Price</th>
                <th>Current Price</th>
                <th>Total Value</th>
                <th>Profit/Loss</th>
                <th>P/L %</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in portfolio %}
            <tr class="leaderboard-tr">
                <td>{{ asset.symbol }}</td>
                <td>{{ asset.asset_type|capitalize }}</td>
                <td>{{ asset.shares }}</td>
                <td>${{ asset.purchase_price }}</td>
                <td>${{ asset.latest_price }}</td>
                <td>${{ asset.value }}</td>
                <td class="{{ 'profit' if asset.profit_loss > 0 else 'loss' }}">
                    ${{ asset.profit_loss }}
                </td>
                <td class="{{ 'profit' if asset.profit_loss_percentage > 0 else 'loss' }}">
                    {{ asset.profit_loss_percentage }}%
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2 class='displayvalue accent'>Total Portfolio Value: </h2>
    <h2 class='total_value'>${{ total_value }}</h2>
    <a href="{{ url_for('leaderboard') }}" class="register-button accent">Back to Leaderboard</a>
</div>
{% endblock %}
