{% extends "base.html" %}
{% block content %}
<h1>Sell Stocks</h1>
<div class="centered-form">
    <div class="form-container">
        <form method="POST">
            <label for="symbol">Stock Symbol:</label>
            <input type="text" id="symbol" name="symbol" required>
            <label for="shares">Shares:</label>
            <input type="number" id="shares" name="shares" step="any" required>
            <button type="submit">Sell</button>
        </form>
        <h2>Your Portfolio</h2>
        <table>
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Shares</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in user.portfolios %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
