{% extends "base.html" %}
{% block content %}
<h1>Sell Stocks</h1>
<div class="centered-form">
    <div class="form-container">
        <form method="POST" action="{{ url_for('sell') }}">
            <label for="symbol">Symbol:</label>
            <input type="text" id="symbol" name="symbol" required><br>
            
            <label for="shares">Shares:</label>
            <input type="number" id="shares" name="shares" step="0.01" required><br>
            
            <label for="asset_type">Asset Type:</label>
            <select id="asset_type" name="asset_type" required>
                <option value="stock">Stock</option>
                <option value="crypto">Cryptocurrency</option>
            </select><br>
            
            <input type="submit" value="Sell">
        </form>
        
          
          <script>
          function validateForm() {
              const shares = document.getElementById('shares').value;
              if (shares <= 0) {
                  alert('Please enter a positive number of shares.');
                  return false;
              }
              return true;
          }
          </script>                 
        <h2>Your Portfolio</h2>
        <table>
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Shares</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in user.portfolios %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}